@section Scripts{
    <script src="~/js/condominio.js"></script>
}

<div class="container">
    <div class="mt-4 d-flex ">
        <button type="button" class="btn btn-primary me-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Adicionar</button>
        <input class="form-control" style="max-width:300px" placeholder="Buscar condominio" id="search"/>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-3">

        <div class="row ">
            <div class="card bg-danger text-light mb-3 me-1" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="title">Condominio</p>
                    <button class="btn btn-primary">Detalhes</button>
                </div>
            </div>
            <div class="card bg-danger text-light mb-3 mt" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="title">Condominio</p>
                    <button class="btn btn-primary">Detalhes</button>
                </div>
            </div>
            <div class="card bg-lig text-light mb-3 me-1" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <p class="title">Condominio</p>
                    <button class="btn btn-primary">Detalhes</button>
                </div>
            </div>
        </div>
        
    </div>
</div>